<p>---------------Welcome to Hoang Hiep Studio---------------</p>
<p>Dear <span style='font-weight: bold; text-transform: uppercase'>{{ account }}</span>,</p>

<p>Here is your new account and password for you to login Our's page</p>
<p>Account: <span style='font-weight: bold'>{{ account }}</span></p>
<p>Password: <span style='font-weight: bold'>{{ password }}</span></p>

<p>Please change your password immediately after first login for security and safety reason</p>
<p>If you have any questions prior to your arrival, please feel free to email or call me and I’ll be more than happy to
    help you.</p>
<p>We are looking forward to working with you and seeing you achieve great things!</p>

<p>Best regards,</p>
<p style='font-weight: bold'>Employer</p>