<p>Hey {{ name }},</p>
<p>!!! We have received your forgot password request !!!</p>

<p>Here is your new password: <span style='font-weight: bold'>{{ password }}</span></p>

<p>Please change your password immediately after first login for security and safety reason</p>
<p>If you did not request this email, please contact us !!!</p>

<p>Best regards,</p>
<p style='font-weight: bold'>Technical Department</p>