<p>---------------Welcome to Hoang Hiep Studio---------------</p>
<p>Dear <span style='font-weight: bold; text-transform: uppercase'>{{ account }}</span>,</p>
<p>Thank you for signing up</p>

<p>Our aim is to provide the research and services you need to excel in the transition to stakeholder capitalism. We
    understand this shift incorporates the inclusion of new information and relationships, and our Holistic Analysis and
    Interchange Engagement tools enable you to seamlessly access and evaluate the content you need, when you need it. We
    encourage you to check out the video and recommended first steps below.</p>

<p>If you have any questions prior to your arrival, please feel free to email or call me and I’ll be more than happy to
    help you.</p>
<p>We are looking forward to working with you and seeing you achieve great things!</p>

<p>Best regards,</p>
<p style='font-weight: bold'>Employer</p>