.lang-en {
  font-family: 'Helvetica', sans-serif;
}

.lang-jp {
  font-family: 'Yu Gothic', sans-serif;
}

.justify-between {
  justify-content: space-between;
}

.bg-grey {
  background-color: $bg-grey;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.table-component {

  .table-header {
    border-bottom: 1px solid #e9ebec;
    padding-top: 10px;
    padding-bottom: 20px;
    // padding-right: 30px;

    .table-header-title {
      font-size: 16px;
      color: #495057;
    }
  }
}

.form-control:disabled {
  background-color: var(--vz-input-disabled-bg) !important;
  opacity: 1;
}

.invalid-feedback {
  white-space: initial !important;
}

#topnav-hamburger-icon:hover {
  border-color: transparent;
}

#topnav-hamburger-icon:active {
  border-color: transparent;
}

#topnav-hamburger-icon:focus {
  border-color: transparent;
}

#page-header-user-dropdown:hover {
  border-color: transparent;
}

#page-header-user-dropdown:active {
  border-color: transparent;
}

#page-header-user-dropdown:focus {
  border-color: transparent;
}

.font-style-nomal {
  font-style: normal !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.white-space-pre-line {
  white-space: pre-line;
}

.table-header-th {
  color: $gray-700;
  font-weight: bold;
}

.text-no-data {
  color: $gray-400;
}

.box-120 {
  width: 120px;
  display: inline-block;
}

[data-topbar="dark"] {
  .profile-wid-bg {
    &::before {
      background: $primary;
      background: linear-gradient(to top, darken($primary, 25%), $primary);
    }
  }
  .text-black, .table-header-th, .text-normal, .table-header-title {
    color: $gray-400 !important;
  }
}
